.header {
  padding: 20px;
  text-align: center;
  color: #fff;
}
h1{
  font-size: 24px;
}
.navbar {
  display: flex;
  background-color: #333;
  margin-bottom: 0;
}

.navbar li { 
  padding: 16px 20px;
  text-align: center;
  list-style-type: none;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar li:hover{
  background-color: #ddd;
  color: #000;
}

@media (max-width:768px){
 .navbar {
      flex-direction: column;
  }

  .navbar li {
    padding: 8px 10px;
  }
  .header {
    padding: 10px;   
  }
  .header h1 {
    font-size: 18px;
  }
}