<div class="header" [ngStyle]="{backgroundColor: headerBackgroundColor}">
  <h1>Angular Forms</h1>
</div>

<div class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/"  >Home</a>
    </li>
      <li routerLinkActive="active">
        <a routerLink="formTd"  >Template Driven Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="formReactive">Reactive Form</a>
      </li>
  </ul> 
</div>
