
  <app-header></app-header>
  <div id="main">
    <div id="sidebar">
        <div class="box">
            <h3>Side Menu</h3>
            <div class="ph"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cum perspiciatis quibusdam quidem iusto maxime, pariatur minus accusantium porro optio debitis totam harum, a eveniet dolorem nulla? Veritatis, recusandae deleniti.</p>
        </div>
        <div class="ph" style="height: 50px;"></div>
        <div class="ph" style="height: 50px;"></div>
        <div class="ph" style="height: 50px;"></div>
    </div>
    <div id="content">
        <router-outlet></router-outlet>     
    </div>
</div>


