.btn{
  color: #fff;
}
.main{
  display: flex;
}

.menu-items {
  flex-basis: 25%;
  padding: 10px; 
}

.list-group-item{  
  color: #fff;
  cursor: pointer;
}

.form{
  flex-basis: 75%;  
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

@media (max-width:700px){
  .main {
      flex-direction: column;
  }

  .menu-items{
      display: none;  
  }

}